.App {
  text-align: center;
  background-color: #ffffff; /* 배경 흰색 */
  height: 100vh; /* 화면 전체 높이 */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #333333; /* 텍스트 색상 */
}
