body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.container {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.description {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 40px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.input-field {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-field:focus {
  border-color: #666;
  outline: none;
}

.start-button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #4000FF;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.start-button:active {
  transform: scale(0.95); /* 버튼을 누를 때 크기를 살짝 줄여주는 효과 */
  background-color: #3000cc; /* 버튼이 눌릴 때 어두운 색으로 변화 */
}
