body {
    margin: 0;
    font-family: 'Noto Sans KR', 'Malgun Gothic', 'Apple SD Gothic Neo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: "Pretendard";
    src: url("/public/font/Pretendard-Light.otf") format("opentype");
    font-weight: 300;
}

@font-face {
font-family: "Pretendard";
src: url("/public/font/Pretendard-Regular.otf") format("opentype");
font-weight: 400;
}

@font-face {
font-family: "Pretendard";
src: url("/public/font/Pretendard-Medium.otf") format("opentype");
font-weight: 500;
}

@font-face {
font-family: "Pretendard";
src: url("/public/font/Pretendard-SemiBold.otf") format("opentype");
font-weight: 600;
}

@font-face {
font-family: "Pretendard";
src: url("/public/font/Pretendard-Bold.otf") format("opentype");
font-weight: 700;
}

* {
box-sizing: border-box;

font-family: "Pretendard", sans-serif;
}

body {
margin: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-track {
background: inherit;
border-radius: 6px;
}

::-webkit-scrollbar-thumb {
background: lightgray;
border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
background: darkgray;
}